# Perparing Data for training the model

In [2]:
import numpy as np
import pandas as pd

In [3]:
solar1 = pd.read_csv("solarEnergtGenerated1.csv")

In [4]:
solar1.sample(1)

,Day of Year,Year,Month,Day,First Hour of Period,Is Daylight,Distance to Solar Noon,Average Temperature (Day),Average Wind Direction (Day),Average Wind Speed (Day),Sky Cover,Visibility,Relative Humidity,Average Wind Speed (Period),Average Barometric Pressure (Period),Power Generated
1303,41,2009,2,10,22,False,0.995305,46,22,10.4,3,9.0,80,17.0,30.11,0

In [8]:
solar1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Day of Year                           2920 non-null   int64
 1   Year                                  2920 non-null   int64
 2   Month                                 2920 non-null   int64
 3   Day                                   2920 non-null   int64
 4   First Hour of Period                  2920 non-null   int64
 5   Is Daylight                           2920 non-null   bool
 6   Distance to Solar Noon                2920 non-null   float64
 7   Average Temperature (Day)             2920 non-null   int64
 8   Average Wind Direction (Day)          2920 non-null   int64
 9   Average Wind Speed (Day)              2920 non-null   float64
 10  Sky Cover                             2920 non-null   int64
 11  Visibility                            2920 non-null   float64
 12  Relative Humidity                     2920 non-null   int64
 13  Average Wind Speed (Period)           2919 non-null   float64
 14  Average Barometric Pressure (Period)  2920 non-null   float64
 15  Power Generated                       2920 non-null   int64
dtypes: bool(1), float64(5), int64(10)
memory usage: 345.2 KB

In [10]:
solar1['Date'] = pd.to_datetime(solar1[['Year', 'Month', 'Day']])

# first data set have data of only 365 days so lets work with second data set

In [13]:
solar2 = pd.read_csv("solarEnergyGenerated2.csv")

In [14]:
solar2.head()

,name,id,address,date,kWh,public_url,installationDate,uid
0,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 08:00:00 AM,1.130,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 08:00:00
1,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 09:00:00 AM,2.340,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 09:00:00
2,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 10:00:00 AM,3.656,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 10:00:00
3,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 11:00:00 AM,4.577,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 11:00:00
4,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 12:00:00 PM,6.506,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 12:00:00

In [15]:
solar2['name'].unique()

array(['Calgary Fire Hall Headquarters', 'Whitehorn Multi-Service Centre',
       'Southland Leisure Centre',
       'Hillhurst Sunnyside Community Association',
       'Glenmore Water Treatment Plant',
       'City of Calgary North Corporate Warehouse',
       'Richmond - Knob Hill Community Hall', 'Manchester Building M',
       'CFD Firehall #7', 'Telus Spark', 'Bearspaw Water Treatment Plant'],
      dtype=object)

In [19]:
# solar2[solar2['name'] == 'Bearspaw Water Treatment Plant']

In [21]:
# Seperating date and time and removing this current date column

solar2['date'] = pd.to_datetime(solar2['date'])

In [22]:
solar2['time'] = solar2['date'].dt.time

In [23]:
solar2['date'] = solar2['date'].dt.date

In [24]:
solar2['date'] = pd.to_datetime(solar2['date'])

In [28]:
solar2.head()

,name,id,address,date,kWh,public_url,installationDate,uid,time
0,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017-09-11,1.130,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 08:00:00,08:00:00
1,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017-09-11,2.340,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 09:00:00,09:00:00
2,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017-09-11,3.656,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 10:00:00,10:00:00
3,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017-09-11,4.577,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 11:00:00,11:00:00
4,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017-09-11,6.506,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 12:00:00,12:00:00

# Droping public_url, installationDate, uid, id, address

In [32]:
solar2.drop(['address', 'public_url', 'installationDate', 'uid'], axis=1, inplace=True)

In [34]:
solar2.sample(10)

,name,id,date,kWh,time
56261,Richmond - Knob Hill Community Hall,332785,2018-07-27,6.672,13:00:00
231962,CFD Firehall #7,551172,2022-04-16,0.005,06:00:00
63534,Calgary Fire Hall Headquarters,314106,2018-04-19,15.422,13:00:00
198951,City of Calgary North Corporate Warehouse,331901,2021-08-05,13.037,19:00:00
218360,CFD Firehall #7,551172,2021-12-10,7.326,11:00:00
18847,Whitehorn Multi-Service Centre,319086,2017-08-03,330.369,12:00:00
59353,Hillhurst Sunnyside Community Association,308057,2018-05-05,0.045,06:00:00
155900,Whitehorn Multi-Service Centre,319086,2021-03-28,307.916,13:00:00
36786,Southland Leisure Centre,164440,2019-08-02,12.515,19:00:00
104250,Southland Leisure Centre,164440,2019-06-09,0.444,21:00:00

In [36]:
solar2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258423 entries, 0 to 258422
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   name    258423 non-null  object
 1   id      258423 non-null  int64
 2   date    258423 non-null  datetime64[ns]
 3   kWh     258423 non-null  float64
 4   time    258423 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 9.9+ MB

In [38]:
# Set the 'date' column as DataFrame's index

#solar2 = solar2.set_index('date')

In [40]:
solar2.head(20)

                              name      id       date     kWh      time
0   Calgary Fire Hall Headquarters  314106 2017-09-11   1.130  08:00:00
1   Calgary Fire Hall Headquarters  314106 2017-09-11   2.340  09:00:00
2   Calgary Fire Hall Headquarters  314106 2017-09-11   3.656  10:00:00
3   Calgary Fire Hall Headquarters  314106 2017-09-11   4.577  11:00:00
4   Calgary Fire Hall Headquarters  314106 2017-09-11   6.506  12:00:00
5   Calgary Fire Hall Headquarters  314106 2017-09-11   7.031  13:00:00
6   Calgary Fire Hall Headquarters  314106 2017-09-11   9.218  14:00:00
7   Calgary Fire Hall Headquarters  314106 2017-09-11   9.018  15:00:00
8   Calgary Fire Hall Headquarters  314106 2017-09-11   5.266  16:00:00
9   Calgary Fire Hall Headquarters  314106 2017-09-11   2.579  17:00:00
10  Calgary Fire Hall Headquarters  314106 2017-09-11   3.118  18:00:00
11  Calgary Fire Hall Headquarters  314106 2017-09-11   0.738  19:00:00
12  Calgary Fire Hall Headquarters  314106 2017-09-12   0.134  07:00:00
13  Calgary Fire Hall Headquarters  314106 2017-09-12   1.231  08:00:00
14  Calgary Fire Hall Headquarters  314106 2017-09-12   4.096  09:00:00
15  Calgary Fire Hall Headquarters  314106 2017-09-12   6.449  10:00:00
16  Calgary Fire Hall Headquarters  314106 2017-09-12   9.652  11:00:00
17  Calgary Fire Hall Headquarters  314106 2017-09-12  11.191  12:00:00
18  Calgary Fire Hall Headquarters  314106 2017-09-12   8.344  13:00:00
19  Calgary Fire Hall Headquarters  314106 2017-09-12  11.703  14:00:00

In [42]:
demo = solar2.drop(['name', 'id', 'time'], axis=1)

In [44]:
demo.head(10)

        date    kWh
0 2017-09-11  1.130
1 2017-09-11  2.340
2 2017-09-11  3.656
3 2017-09-11  4.577
4 2017-09-11  6.506
5 2017-09-11  7.031
6 2017-09-11  9.218
7 2017-09-11  9.018
8 2017-09-11  5.266
9 2017-09-11  2.579

In [46]:
# Assuming your DataFrame name is demo
daily_energy = demo.groupby('date', as_index=False)['kWh'].sum()

print(daily_energy)

           date       kWh
0    2015-09-01   286.013
1    2015-09-02   681.646
2    2015-09-03   647.906
3    2015-09-04   102.448
4    2015-09-05    93.432
...         ...       ...
2711 2023-03-12  1705.099
2712 2023-03-13  1476.824
2713 2023-03-14  1988.782
2714 2023-03-15  2983.315
2715 2023-03-16  3513.182

[2716 rows x 2 columns]

In [48]:
daily_energy = demo.groupby('date', as_index=False)['kWh'].sum()

print(daily_energy)

           date       kWh
0    2015-09-01   286.013
1    2015-09-02   681.646
2    2015-09-03   647.906
3    2015-09-04   102.448
4    2015-09-05    93.432
...         ...       ...
2711 2023-03-12  1705.099
2712 2023-03-13  1476.824
2713 2023-03-14  1988.782
2714 2023-03-15  2983.315
2715 2023-03-16  3513.182

[2716 rows x 2 columns]

In [55]:
# Save back into repo folder
daily_energy.to_csv('daily_energy_need.csv', index=False)