In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("EnergyDemand.csv")

In [5]:
data

,Timestamp,hour,dayofweek,month,year,dayofyear,Temperature,Humidity,Demand
0,01-Jan-20,0.0,2.0,1.0,2020.0,1.0,3.000000,61.288951,2457.119872
1,01-Jan-20,1.0,2.0,1.0,2020.0,1.0,3.000000,52.873702,2269.904712
2,01-Jan-20,2.0,2.0,1.0,2020.0,1.0,4.244482,36.341783,2215.640403
3,01-Jan-20,3.0,2.0,1.0,2020.0,1.0,3.000000,72.629378,2174.232413
4,01-Jan-20,4.0,2.0,1.0,2020.0,1.0,3.881208,90.582444,2472.453006
...,...,...,...,...,...,...,...,...,...
43843,31-Dec-24,19.0,1.0,12.0,2024.0,366.0,3.956838,43.287161,4689.693109
43844,31-Dec-24,20.0,1.0,12.0,2024.0,366.0,3.118824,51.705756,4331.249224
43845,31-Dec-24,21.0,1.0,12.0,2024.0,366.0,3.000000,40.565916,4015.979957
43846,31-Dec-24,22.0,1.0,12.0,2024.0,366.0,3.000000,51.998107,3353.241682
43847,31-Dec-24,23.0,1.0,12.0,2024.0,366.0,6.037472,59.931925,3219.023339

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Timestamp    43848 non-null  object
 1   hour         43837 non-null  float64
 2   dayofweek    43839 non-null  float64
 3   month        43840 non-null  float64
 4   year         43843 non-null  float64
 5   dayofyear    43843 non-null  float64
 6   Temperature  43841 non-null  float64
 7   Humidity     43838 non-null  float64
 8   Demand       43841 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.0+ MB

In [11]:
# converting the timestamp column to the datetime as it showing dates
data['Timestamp'] = pd.to_datetime(data['Timestamp'])

C:\Users\rajni\AppData\Local\Temp\ipykernel_19624\3484730879.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Timestamp'] = pd.to_datetime(data['Timestamp'])

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Timestamp    43848 non-null  datetime64[ns]
 1   hour         43837 non-null  float64
 2   dayofweek    43839 non-null  float64
 3   month        43840 non-null  float64
 4   year         43843 non-null  float64
 5   dayofyear    43843 non-null  float64
 6   Temperature  43841 non-null  float64
 7   Humidity     43838 non-null  float64
 8   Demand       43841 non-null  float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 3.0 MB

In [15]:
data

,Timestamp,hour,dayofweek,month,year,dayofyear,Temperature,Humidity,Demand
0,2020-01-01,0.0,2.0,1.0,2020.0,1.0,3.000000,61.288951,2457.119872
1,2020-01-01,1.0,2.0,1.0,2020.0,1.0,3.000000,52.873702,2269.904712
2,2020-01-01,2.0,2.0,1.0,2020.0,1.0,4.244482,36.341783,2215.640403
3,2020-01-01,3.0,2.0,1.0,2020.0,1.0,3.000000,72.629378,2174.232413
4,2020-01-01,4.0,2.0,1.0,2020.0,1.0,3.881208,90.582444,2472.453006
...,...,...,...,...,...,...,...,...,...
43843,2024-12-31,19.0,1.0,12.0,2024.0,366.0,3.956838,43.287161,4689.693109
43844,2024-12-31,20.0,1.0,12.0,2024.0,366.0,3.118824,51.705756,4331.249224
43845,2024-12-31,21.0,1.0,12.0,2024.0,366.0,3.000000,40.565916,4015.979957
43846,2024-12-31,22.0,1.0,12.0,2024.0,366.0,3.000000,51.998107,3353.241682
43847,2024-12-31,23.0,1.0,12.0,2024.0,366.0,6.037472,59.931925,3219.023339

### we want to get daily data demand across city so lets remove all other columns and sum the energy demand on daily basis

In [24]:
daily = data.drop(['hour', 'dayofweek', 'month', 'year', 'dayofyear', 'Temperature', 'Humidity'], axis=1)

In [26]:
daily

       Timestamp       Demand
0     2020-01-01  2457.119872
1     2020-01-01  2269.904712
2     2020-01-01  2215.640403
3     2020-01-01  2174.232413
4     2020-01-01  2472.453006
...          ...          ...
43843 2024-12-31  4689.693109
43844 2024-12-31  4331.249224
43845 2024-12-31  4015.979957
43846 2024-12-31  3353.241682
43847 2024-12-31  3219.023339

[43848 rows x 2 columns]

In [28]:
# Now calculating daily energy demand 

daily_energy = daily.groupby('Timestamp', as_index=False)['Demand'].sum()

In [30]:
daily_energy

      Timestamp        Demand
0    2020-01-01  91799.276872
1    2020-01-02  92898.771836
2    2020-01-03  92880.328257
3    2020-01-04  82642.391232
4    2020-01-05  81996.193891
...         ...           ...
1822 2024-12-27  97634.533101
1823 2024-12-28  86567.553693
1824 2024-12-29  87728.744059
1825 2024-12-30  97912.729433
1826 2024-12-31  97431.942625

[1827 rows x 2 columns]

In [35]:
daily_energy.to_csv('daily_energy_demand.csv', index=False)