In [1]:
import numpy as np
import pandas as pd

In [3]:
solar = pd.read_csv("solarEnergyGenerated2.csv")

In [5]:
solar.head()

,name,id,address,date,kWh,public_url,installationDate,uid
0,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 08:00:00 AM,1.130,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 08:00:00
1,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 09:00:00 AM,2.340,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 09:00:00
2,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 10:00:00 AM,3.656,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 10:00:00
3,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 11:00:00 AM,4.577,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 11:00:00
4,Calgary Fire Hall Headquarters,314106,1212 42 AV SE,2017/09/11 12:00:00 PM,6.506,https://monitoring.solaredge.com/solaredge-web...,2016/11/07,3141062017-09-11 12:00:00

In [7]:
solar = solar[['date', 'kWh']]

In [19]:
solar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258423 entries, 0 to 258422
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    258423 non-null  object
 1   kWh     258423 non-null  float64
dtypes: float64(1), object(1)
memory usage: 3.9+ MB

In [23]:
solar['date'] = pd.to_datetime(solar['date']).dt.date

In [25]:
# Now calculating daily energy generated 

daily_energy = solar.groupby('date', as_index=False)['kWh'].sum()

In [27]:
daily_energy

            date       kWh
0     2015-09-01   286.013
1     2015-09-02   681.646
2     2015-09-03   647.906
3     2015-09-04   102.448
4     2015-09-05    93.432
...          ...       ...
2711  2023-03-12  1705.099
2712  2023-03-13  1476.824
2713  2023-03-14  1988.782
2714  2023-03-15  2983.315
2715  2023-03-16  3513.182

[2716 rows x 2 columns]

In [47]:
# we want only 5 years date there fore accessing data of latest 5 years

# Filter data from 2018-03-15 onward
daily_energy = daily_energy[daily_energy['date'] >= '2018-03-16']

In [51]:
daily_energy

           date       kWh
889  2018-03-16  2220.359
890  2018-03-17  2405.921
891  2018-03-18  1226.902
892  2018-03-19  4453.968
893  2018-03-20  5913.243
...         ...       ...
2711 2023-03-12  1705.099
2712 2023-03-13  1476.824
2713 2023-03-14  1988.782
2714 2023-03-15  2983.315
2715 2023-03-16  3513.182

[1827 rows x 2 columns]

In [53]:
# Chnaging the date columns range

new_dates = pd.date_range(start='2020-01-01', end='2024-12-31', freq='D')

In [55]:
daily_energy['date'] = new_dates

In [57]:
daily_energy

           date       kWh
889  2020-01-01  2220.359
890  2020-01-02  2405.921
891  2020-01-03  1226.902
892  2020-01-04  4453.968
893  2020-01-05  5913.243
...         ...       ...
2711 2024-12-27  1705.099
2712 2024-12-28  1476.824
2713 2024-12-29  1988.782
2714 2024-12-30  2983.315
2715 2024-12-31  3513.182

[1827 rows x 2 columns]

In [59]:
daily_energy.to_csv('daily_energy_generated.csv', index=False)